html{
    background-color: #000000;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#bell, #bell1, #bell2{
    opacity: 0.9;
    color: #181616;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    font-size: 480px;
    font-weight: bold;
}

#bell{
    margin-top: -200px;
}

#bell1, #bell2{
    margin-top: -680px;
}

h1{
    color: #FFFFFF;
    margin-top: -1250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 30px;
    position: relative;
    left: 10px;
}





@media (max-width: 768px) {
    html{
        overflow: hidden;
        background-image: linear-gradient(to bottom, black, rgb(37, 37, 37), black);
    }

    #bell1, #bell2, #bell{
        visibility: hidden;
    }

    h1{
        color: #FFFFFF;
        margin-top: -1250px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: serif;
        font-size: 50px;
        font-weight: bold;
        letter-spacing: 30px;
        position: relative;
        left: 10px;
    }
}